*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: vazir;
}

@font-face {
    font-family: vazir;
    src: url(../font/Vazir.woff);
}

body{
    min-width: 100vh;
    height: 100%;
}

.conatiner{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conatiner .top{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conatiner .top a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    margin-right: 50px;
}

.conatiner .top p{
    font-size: 1.1em;
    margin-right: 50px;
}

.conatiner .bottom{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.conatiner .bottom .show{
    width: 75%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.conatiner .bottom .show>div{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conatiner .bottom .show>div p{
    margin-left: 10px;
}

.conatiner .bottom table{
    width: 75%;
    height: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.conatiner .bottom table tr,th,td{
    width: 50px;
    height: 5px;
    border: 1px solid black;
}

.conatiner .bottom table tr td a{
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

.conatiner .bottom table tr td .delete{
    width: 100px;
    height: 25px;
}

.conatiner .bottom table tr td button{
    width: 100px;
    height: 25px;
    cursor: pointer;
    border: none;
    background-color: rgb(252, 50, 50);
    border-radius: 10px;
}

.conatiner .bottom .submit{
    width: 75%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.conatiner .bottom form input[type=text]{
    width: 350px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    border: 1px solid black;
    padding-right: 10px;
}

.conatiner .bottom form .button{
    width: 350px;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(0, 255, 0);
    border-radius: 10px;
}